html {
    font-size: 62.5%
}

/* F.A.Q. styles */
.faq-section {
	width:100%;
    height: 50rem;
    display:grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
}

.faq-section > h2 {
    grid-column: 1/ -1;
    align-items: center;
}

.ques {
	/* display:flex;
	flex-direction:row;
	flex:auto;
    flex-wrap: wrap; */
    width: 40%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    margin: 0 5rem 5rem;
}

.ques-box {
	/* display:flex;
	flex-direction:column;
	flex: 1; */
}


/* footer styles */

footer {
    background: #071629;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width:100%;
    color:white;
    text-align: center;

}

footer > section {
    display:flex;
    flex-direction: column;

}

footer > section > div {
    flex:2;
    display:flex;
    justify-content: space-between;
    margin: 50px;
   
}

footer > section > p {
    color:#ffffff;
    flex:1;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    opacity: 0.35;


}

.fa-brands { 
     padding: 5px
}

