body {
	display:flex;
	flex-direction:column;
}

header {
	background-color: bisque;
}

main {
	display:flex;
	flex-direction:row;
	flex:auto;
}

article {
	flex:2;
	overflow-y:auto;
	background-color:blanchedalmond;
}

aside {
	flex:1;
	overflow-y:auto;
}

a:hover {
	color:azure
}


